hr{
  color: blue;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 5%;
}
body{
  background-color:#ccffff;
}
h1,h2,h3,h4,h5,h6{
  color: teal;
}
a{
  color:blue;
}
div{
  width:100px;
  height: 100px;
}
.c1{
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
}
.c2{
  background-color: red;
  position: absolute;
  left: 100px;
  top: 100px;
}
.c3{
  background-color: blue;
  position: absolute;
  left: 200px;
  top: 200px;
}
